
/* ========================================================
ボタン
=========================================================*/
.default-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: $unit*16;
	height: $unit*4;
	color: #fff;
	background-color: #222;
	&:hover{
		background: #ff4e50;
	}
	&.-ls-primary{

	}
}
